<div class="parent">
    <div class="child">
        <div>
            <div class="childchild">
                <span></span>
            </div>
        </div>
    </div>
</div>
<div class="style__StyledCategoriesContainer-sc-136v9ku-0 dWuXER">
    <div class="style__StyledCategoriesTabsWrapper-sc-136v9ku-1 htPzWo">
        <div class="style__StyledContainer-sc-1xrxii9-0 gwaCFL">
            <div class="style__StyledTabsWrapper-sc-1xrxii9-1 ijZcyB">
                <span id="New Items" data-testid="active" class="style__StyledTab-sc-1xrxii9-2 kWUYSv"><label
            variant=" body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >New Items</label
          ></span
        ><span
          id="Exclusive Offers "
          data-testid="Exclusive Offers "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Exclusive Offers</label
          ></span
        ><span
          id="Seyami Meals "
          data-testid="Seyami Meals "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Seyami Meals</label
          ></span
        >
        <span
          id="Most Selling "
          data-testid="Most Selling "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Most Selling</label
          ></span
        ><span
          id="Kansas Sandwiches "
          data-testid="Kansas Sandwiches "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Kansas Sandwiches</label
          ></span
        >
        <span
          id="Side Items "
          data-testid="Side Items "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Side Items</label
          ></span
        ><span
          id="Tortilla Wrap "
          data-testid="Tortilla Wrap "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Tortilla Wrap</label
          ></span
        >
        <span
          id="Kansas Meals "
          data-testid="Kansas Meals "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Kansas Meals</label
          ></span
        ><span
          id="Kansas Family Meals "
          data-testid="Kansas Family Meals "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Kansas Family Meals</label
          ></span
        >
        <span
          id="Saver Meals "
          data-testid="Saver Meals "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Saver Meals</label
          ></span
        ><span
          id="Kids Meals "
          data-testid="Kids Meals "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Kids Meals</label
          ></span
        >
        <span
          id="Sauces "
          data-testid="Sauces "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Sauces</label
          ></span
        ><span
          id="Beverages "
          data-testid="Beverages "
          class="style__StyledTab-sc-1xrxii9-2 kWUYSv"
          ><label
            variant="body1 "
            cursor="pointer "
            class="style__StyledText-sc-nykyuh-0 bANvXj"
            >Beverages</label
          ></span
        >
      </div>
    </div>
  </div>
</div>
