<!-- <div id="988b243f-1153-4926-ae31-07219223f098">
    <div class="style__StyledCategoryTitleContainer-sc-1rjj4h5-0 bNPNKq">
        <p class="headingExpressive20_OzrdV" data-testid="988b243f-1153-4926-ae31-07219223f098_food_category" style="color: rgb(69, 52, 16); cursor: default">
            New Items
        </p>
    </div>
    <div class="style__StyledFoodCardWrapper-sc-1rxkwyu-0 isyXMO">
        <div class="style__StyledFoodCardDetailsWrapper-sc-1rxkwyu-1 fgqCSX">
            <div class="style__StyledTitleWrapper-sc-1rxkwyu-5 ihcjbT">
                <p class="heading16_2tUu6" style="color: rgb(7 7 7); cursor: default">
                    Double HellFire
                </p>
            </div>
        </div>
        <div class="style__StyledDescriptionWrapper-sc-1rxkwyu-3 dNobQy">
            <p class="body14_-aK2M" style="color: rgba(129, 96, 29, 0.65); cursor: pointer">
                2 Spicy Chicken fillets, lettuce, spicy mayo sauce, cheese and sweet chili ...
            </p>

            <button class="button element-12 small tertiary flex justify-center items-center w-fit rounded-full" type="button" data-testid="card-action-btn">
        <div class="button-text">EGP 105 - 149</div>
      </button>
        </div>
        <div class="style__StyledPhotoWrapper-sc-1rxkwyu-2 kcttKt">
            <span class="box-sizing: border-box; display: block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: absolute; inset: 0px;"><img
          alt="[object Object]-image"
          src="https://static.zyda.com/cdn-cgi/image/width=3840,f=auto,metadata=none/photos/menu_items/photo_urls/9228e6ab-c0b4-48ab-9abb-1fd555bbadc4/original/38CB1C0A-0C17-4B82-8EBE-9B68192B95E7.jpeg?1666830252"
          decoding="async"
          data-nimg="fill"
          sizes="(min-width: 992px) 20vw, 50vw"
          style="
            position: absolute;
            inset: 0px;
            box-sizing: border-box;
            padding: 0px;
            border: none;
            margin: auto;
            display: block;
            width: 0px;
            height: 0px;
            min-width: 100%;
            max-width: 100%;
            min-height: 100%;
            max-height: 100%;
            object-fit: cover;
          "
      /></span>
        </div>
    </div>
</div> -->
<div id="988b243f-1153-4926-ae31-07219223f098">
    <div class="style__StyledCategoryTitleContainer-sc-1rjj4h5-0 bNPNKq">
        <p class="headingExpressive20_OzrdV" data-testid="988b243f-1153-4926-ae31-07219223f098_food_category" style="color: rgb(69, 52, 16); cursor: default; font-weight: 600">
            New Items
        </p>
    </div>

    <div class="style__StyledFoodCardWrapper-sc-1rxkwyu-0 isyXMO" routerLink="content/detail" ModDirect>
        <div class="style__StyledFoodCardDetailsWrapper-sc-1rxkwyu-1 fgqCSX">
            <div class="style__StyledTitleWrapper-sc-1rxkwyu-5 ihcjbT">
                <p class="heading16_2tUu6" data-testid=" 9228e6ab-c0b4-48ab-9abb-1fd555bbadc4_food_item " style="color: rgb(31, 31, 31); cursor: pointer; font-weight: 600">
                    <span class="heading16_2tUu6" style="color: rgb(69, 52, 16); cursor: default">Double HellFire</span
          >
        </p>
      </div>
      <div class="style__StyledDescriptionWrapper-sc-1rxkwyu-3 dNobQy">
        <p
          class="body14_-aK2M"
          style="color: rgba(129, 96, 29, 0.65); cursor: pointer"
          line="green"
        >
          2 Spicy Chicken fillets, lettuce, spicy mayo sauce, cheese and sweet
          chili ...
        </p>
      </div>
      <button
        class="button element-12 small tertiary flex justify-center items-center w-fit rounded-full"
        type="button "
        data-testid="card-action-btn "
      >
        <div class="button-text">EGP 105 - 149</div>
      </button>
    </div>
  </div>
</div>
