<div class="style__StyledWrapper-sc-12yivlc-1 isRsLL" style="background-color: rgba(254, 241, 215, 0.05)">
    <div class="style__StyledLayoutWrapper-sc-12yivlc-2 Rgyav">
        <div class="style__StyledContent-sc-12yivlc-3 dPLrtn">
            <div class="styles__SnackBarWrapper-sc-yoocmh-0 cKdvUn">
                <div class="styles__SnackBarContainer-sc-yoocmh-1 ftjBJE">
                    <div class="styles__SnackBarTextContainer-sc-yoocmh-2 kevswB"></div>
                    <button aria-label="close" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
            <div
              color="white"
              width="16px"
              class="style__StyledIconWrapper-sc-fi3wpm-0 bnmAZh"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="12"
                height="12"
                viewBox="0 0 12 12"
                fill="#999"
                fill-rule="evenodd"
              >
                <path
                  d="M7.254,6l4.478-4.478a.866.866,0,0,0,0-1.254.866.866,0,0,0-1.254,0L6,4.746,1.522.269a.866.866,0,0,0-1.254,0,.866.866,0,0,0,0,1.254L4.746,6,.269,10.478a.866.866,0,0,0,0,1.254.866.866,0,0,0,1.254,0L6,7.254l4.478,4.478a.887.887,0,0,0,1.254-1.254Z"
                  transform="translate(0 0)"
                ></path></svg
              ><label
                variant="smallText"
                cursor="pointer"
                mx="0"
                class="style__StyledText-sc-nykyuh-0 bOKSJC"
              ></label>
            </div>
          </button>
                </div>
            </div>
            <div class="styles__StyledPageWrapper-sc-1t83ab5-0 bGDFBG" style="background: rgba(254, 241, 215, 0.05)">
                <div class="style__StyledBackIconWrapper-sc-h2g51-0 ewJsKs">
                    <button class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
            <div
              color="#F8B838"
              width="44px"
              data-testid="back-icon-btn"
              height="44px"
              class="style__StyledIconWrapper-sc-fi3wpm-0 fcBASQ"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <g><path fill="rgba(0,119,189,0)" d="M0 0H24V24H0z"></path></g>
                <path
                  fill="#212121"
                  d="M1598.321-2.738l-6.615-6.615a.843.843 0 0 1-.406-.721.84.84 0 0 1 .113-.422.847.847 0 0 1 .146-.2.859.859 0 0 1 .089-.078l6.672-6.672a.844.844 0 0 1 1.193 0 .844.844 0 0 1 0 1.193l-5.331 5.331h14.273a.844.844 0 0 1 .844.844.844.844 0 0 1-.844.843h-14.242l5.3 5.3a.843.843 0 0 1 0 1.192.842.842 0 0 1-.6.247.841.841 0 0 1-.592-.242z"
                  transform="translate(-1588.301 22.689)"
                ></path></svg
              ><label
                variant="smallText"
                cursor="pointer"
                mx="0"
                class="style__StyledText-sc-nykyuh-0 bOKSJC"
              ></label>
            </div>
          </button>
                </div>
                <div class="style__StyledImageWrapper-sc-1lpqxfm-0 lkPTki">
                    <span style="
              box-sizing: border-box;
              display: block;
              overflow: hidden;
              width: initial;
              height: initial;
              background: none;
              opacity: 1;
              border: 0px;
              margin: 0px;
              padding: 0px;
              position: relative;
            "><span
              style="
                box-sizing: border-box;
                display: block;
                width: initial;
                height: initial;
                background: none;
                opacity: 1;
                border: 0px;
                margin: 0px;
                padding: 100% 0px 0px;
              "
            ></span>
                    <img alt="product" data-testid="variant-image" sizes="(min-width: 992px) 30vw, 100vw" srcset="
                https://static.zyda.com/cdn-cgi/image/width=256,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675   256w,
                https://static.zyda.com/cdn-cgi/image/width=384,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675   384w,
                https://static.zyda.com/cdn-cgi/image/width=640,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675   640w,
                https://static.zyda.com/cdn-cgi/image/width=750,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675   750w,
                https://static.zyda.com/cdn-cgi/image/width=828,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675   828w,
                https://static.zyda.com/cdn-cgi/image/width=1080,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675 1080w,
                https://static.zyda.com/cdn-cgi/image/width=1200,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675 1200w,
                https://static.zyda.com/cdn-cgi/image/width=1920,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675 1920w,
                https://static.zyda.com/cdn-cgi/image/width=2048,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675 2048w,
                https://static.zyda.com/cdn-cgi/image/width=3840,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675 3840w
              " src="https://static.zyda.com/cdn-cgi/image/width=3840,f=auto,metadata=none/photos/menu_items/photo_urls/1103211b-ec98-4097-a769-d31e48328db4/original/buffaloranch.png?1667553675" decoding="async" data-nimg="responsive" style="
                position: absolute;
                inset: 0px;
                box-sizing: border-box;
                padding: 0px;
                border: none;
                margin: auto;
                display: block;
                width: 0px;
                height: 0px;
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                max-height: 100%;
                object-fit: cover;
              " /></span>
                </div>
                <div class="style__StyledInfo-sc-1lpqxfm-1 tPVOn">
                    <div class="style__StyledTitleWrapper-sc-1lpqxfm-5 iQJsfd">
                        <div style="margin-bottom: 8px">
                            <p class="headingExpressive20_OzrdV" data-testid="product-title" style="color: rgb(69, 52, 16); cursor: default">
                                Buffalo Ranch
                            </p>
                        </div>
                    </div>
                    <div class="style__StyledDescriptionWrapper-sc-1lpqxfm-4 ibxnje">
                        <p class="body14_-aK2M" data-testid="product-desc" style="color: rgba(129, 96, 29, 0.65); cursor: default">
                            Chicken fillet, lettuce, buffalo sauce and ranch sauce
                        </p>
                    </div>
                </div>
                <div data-testid="variants" class="styles__SectionWrapper-sc-1t83ab5-3 jhflVd">
                    <hr class="style__StyledSeparator-sc-9207sd-0 gwSBeP" />
                    <div style="margin-top: 16px; margin-bottom: 16px">
                        <p class="headingExpressive16_EIf-0" data-testid="variants-title" style="color: rgb(0, 0, 0); cursor: default">
                            Size
                        </p>
                    </div>
                    <div class="style__StyledRadioWrapper-sc-luyi3k-2 imamCg">
                        <div>
                            <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"><input
                  type="radio"
                  name="variants"
                  data-testid="variants-0"
                  value="504320"
                /><span class="style__StyledRadio-sc-luyi3k-1 gJWqnM"></span>
                <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                  <div
                    class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                  >
                    <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                      <p
                        class="body16_OLzxw"
                        data-testid="field-title"
                        style="color: rgb(33, 33, 33); cursor: default"
                      >
                        Junior
                      </p>
                    </div>
                    <p
                      class="body16_OLzxw"
                      data-testid="price"
                      style="color: rgb(33, 33, 33); cursor: default"
                    >
                      EGP&nbsp;65.00
                    </p>
                  </div>
                </div></label
              >
            </div>
            <div>
              <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"
                ><input
                  type="radio"
                  name="variants"
                  data-testid="variants-1"
                  value="504542"
                /><span class="style__StyledRadio-sc-luyi3k-1 gJWqnM"></span>
                <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                  <div
                    class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                  >
                    <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                      <p
                        class="body16_OLzxw"
                        data-testid="field-title"
                        style="color: rgb(33, 33, 33); cursor: default"
                      >
                        Junior Combo
                      </p>
                    </div>
                    <p
                      class="body16_OLzxw"
                      data-testid="price"
                      style="color: rgb(33, 33, 33); cursor: default"
                    >
                      EGP&nbsp;95.00
                    </p>
                  </div>
                </div></label
              >
            </div>
            <div>
              <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"
                ><input
                  type="radio"
                  name="variants"
                  data-testid="variants-2"
                  value="504371"
                /><span class="style__StyledRadio-sc-luyi3k-1 gJWqnM"></span>
                <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                  <div
                    class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                  >
                    <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                      <p
                        class="body16_OLzxw"
                        data-testid="field-title"
                        style="color: rgb(33, 33, 33); cursor: default"
                      >
                        Large
                      </p>
                    </div>
                    <p
                      class="body16_OLzxw"
                      data-testid="price"
                      style="color: rgb(33, 33, 33); cursor: default"
                    >
                      EGP&nbsp;85.00
                    </p>
                  </div>
                </div></label
              >
            </div>
            <div>
              <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"
                ><input
                  type="radio"
                  name="variants"
                  data-testid="variants-3"
                  value="504543"
                /><span class="style__StyledRadio-sc-luyi3k-1 gJWqnM"></span>
                <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                  <div
                    class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                  >
                    <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                      <p
                        class="body16_OLzxw"
                        data-testid="field-title"
                        style="color: rgb(33, 33, 33); cursor: default"
                      >
                        Large Combo
                      </p>
                    </div>
                    <p
                      class="body16_OLzxw"
                      data-testid="price"
                      style="color: rgb(33, 33, 33); cursor: default"
                    >
                      EGP&nbsp;115.00
                    </p>
                  </div>
                </div></label
              >
            </div>
          </div>
        </div>
        <div class="styles__SectionWrapper-sc-1t83ab5-3 jhflVd">
          <hr class="style__StyledSeparator-sc-9207sd-0 gwSBeP" />
          <div>
            <div class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR">
              <div style="margin-top: 16px; margin-bottom: 4px">
                <p
                  class="headingExpressive16_EIf-0"
                  data-testid="option-title"
                  style="color: rgb(0, 0, 0); cursor: default"
                >
                  Your Choice of Taste
                </p>
              </div>
              <div style="margin-top: 16px">
                <p
                  class="heading14_V9T1v"
                  data-testid="required"
                  style="color: rgb(118, 118, 118); cursor: default"
                >
                  Required
                </p>
              </div>
            </div>
            <div style="margin-bottom: 16px">
              <p
                class="body14_-aK2M"
                data-testid="option-hint-msg"
                style="color: rgb(118, 118, 118); cursor: default"
              >
                Select 1
              </p>
            </div>
            <div data-testid="single-option-component">
              <div class="style__StyledRadioWrapper-sc-luyi3k-2 imamCg">
                <div>
                  <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"
                    ><input
                      type="radio"
                      name="1f3659c0-a604-44bb-83b3-601b7ef38053"
                      data-testid="1f3659c0-a604-44bb-83b3-601b7ef38053-0"
                      value="7996e979-4165-4d73-9a7e-da86ba6eca53"
                    /><span
                      class="style__StyledRadio-sc-luyi3k-1 gJWqnM"
                    ></span>
                    <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                      <div
                        class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                      >
                        <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                          <p
                            class="body16_OLzxw"
                            data-testid="field-title"
                            style="color: rgb(33, 33, 33); cursor: default"
                          >
                            Spicy
                          </p>
                        </div>
                      </div>
                    </div></label
                  >
                </div>
                <div>
                  <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"
                    ><input
                      type="radio"
                      name="1f3659c0-a604-44bb-83b3-601b7ef38053"
                      data-testid="1f3659c0-a604-44bb-83b3-601b7ef38053-1"
                      value="bf005dfc-4fcb-4e7e-89c1-a50f73bc03c1"
                    /><span
                      class="style__StyledRadio-sc-luyi3k-1 gJWqnM"
                    ></span>
                    <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                      <div
                        class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                      >
                        <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                          <p
                            class="body16_OLzxw"
                            data-testid="field-title"
                            style="color: rgb(33, 33, 33); cursor: default"
                          >
                            Original
                          </p>
                        </div>
                      </div>
                    </div></label
                  >
                </div>
                <div>
                  <label class="style__StyledContainer-sc-luyi3k-0 dvAKsE"
                    ><input
                      type="radio"
                      name="1f3659c0-a604-44bb-83b3-601b7ef38053"
                      data-testid="1f3659c0-a604-44bb-83b3-601b7ef38053-2"
                      value="0ddd47ae-11ee-45a1-aff6-a9013cef22e1"
                    /><span
                      class="style__StyledRadio-sc-luyi3k-1 gJWqnM"
                    ></span>
                    <div class="style__StyledItemWrapper-sc-76c7s9-0 lcHGEn">
                      <div
                        class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR"
                      >
                        <div class="style__StyledField-sc-76c7s9-2 iYSsHw">
                          <p
                            class="body16_OLzxw"
                            data-testid="field-title"
                            style="color: rgb(33, 33, 33); cursor: default"
                          >
                            Chili Lime
                          </p>
                        </div>
                      </div>
                    </div></label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="styles__SectionWrapper-sc-1t83ab5-3 jhflVd">
          <hr class="style__StyledSeparator-sc-9207sd-0 gwSBeP" />
          <div>
            <div class="styles__StyledAlignItemsBetween-sc-1t83ab5-1 cTrKwR">
              <div style="margin-top: 16px; margin-bottom: 4px">
                <p
                  class="headingExpressive16_EIf-0"
                  data-testid="option-title"
                  style="color: rgb(0, 0, 0); cursor: default"
                >
                  Add Ons
                </p>
              </div>
            </div>
            <div style="margin-bottom: 16px">
              <p
                class="body14_-aK2M"
                data-testid="option-hint-msg"
                style="color: rgb(118, 118, 118); cursor: default"
              ></p>
            </div>
            <div class="style__StyledMultiAddOnWrapper-sc-1cb4zkr-2 dCpqAH">
              <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
                <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 cwwFix">
                  <button
                    disabled=""
                    data-testid="decrease-count"
                    aria-label="decrease count"
                    class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ"
                  >
                    <div
                      disabled=""
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 ddTfhi"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="default"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 iMhXei"
                      ></label>
                        </div>
                        </button>
                    </div>
                    <div class="styles__StyledCountNumber-sc-10khkyq-2 hmEfEg">
                        <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                            0
                        </p>
                    </div>
                    <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                        <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                    <div
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 beQFOg"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="pointer"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 bOKSJC"
                      ></label>
                    </div>
                  </button>
                    </div>
                </div>
                <div data-testid="multiAddon-component" class="style__StyledContentWrapper-sc-1cb4zkr-0 bTbdcW">
                    <div class="style__StyledCounterWrapper-sc-1cb4zkr-1 HHZFI">
                        <div style="margin-left: 12px; margin-right: 12px">
                            <p class="body16_OLzxw" data-testid="current-product-count" style="color: rgb(33, 33, 33); cursor: pointer">
                                Chicken Fillet
                            </p>
                        </div>
                    </div>
                    <p class="body16_OLzxw" style="color: rgb(33, 33, 33); cursor: pointer">
                        EGP&nbsp;40.00
                    </p>
                </div>
            </div>
            <div class="style__StyledMultiAddOnWrapper-sc-1cb4zkr-2 dCpqAH">
                <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
                    <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 cwwFix">
                        <button disabled="" data-testid="decrease-count" aria-label="decrease count" class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ">
                    <div
                      disabled=""
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 ddTfhi"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="default"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 iMhXei"
                      ></label>
                    </div>
                  </button>
                    </div>
                    <div class="styles__StyledCountNumber-sc-10khkyq-2 hmEfEg">
                        <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                            0
                        </p>
                    </div>
                    <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                        <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                    <div
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 beQFOg"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="pointer"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 bOKSJC"
                      ></label>
                    </div>
                  </button>
                    </div>
                </div>
                <div data-testid="multiAddon-component" class="style__StyledContentWrapper-sc-1cb4zkr-0 bTbdcW">
                    <div class="style__StyledCounterWrapper-sc-1cb4zkr-1 HHZFI">
                        <div style="margin-left: 12px; margin-right: 12px">
                            <p class="body16_OLzxw" data-testid="current-product-count" style="color: rgb(33, 33, 33); cursor: pointer">
                                Beef Bacon
                            </p>
                        </div>
                    </div>
                    <p class="body16_OLzxw" style="color: rgb(33, 33, 33); cursor: pointer">
                        EGP&nbsp;15.00
                    </p>
                </div>
            </div>
            <div class="style__StyledMultiAddOnWrapper-sc-1cb4zkr-2 dCpqAH">
                <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
                    <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 cwwFix">
                        <button disabled="" data-testid="decrease-count" aria-label="decrease count" class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ">
                    <div
                      disabled=""
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 ddTfhi"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="default"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 iMhXei"
                      ></label>
                    </div>
                  </button>
                    </div>
                    <div class="styles__StyledCountNumber-sc-10khkyq-2 hmEfEg">
                        <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                            0
                        </p>
                    </div>
                    <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                        <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                    <div
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 beQFOg"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="pointer"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 bOKSJC"
                      ></label>
                    </div>
                  </button>
                    </div>
                </div>
                <div data-testid="multiAddon-component" class="style__StyledContentWrapper-sc-1cb4zkr-0 bTbdcW">
                    <div class="style__StyledCounterWrapper-sc-1cb4zkr-1 HHZFI">
                        <div style="margin-left: 12px; margin-right: 12px">
                            <p class="body16_OLzxw" data-testid="current-product-count" style="color: rgb(33, 33, 33); cursor: pointer">
                                American Cheese Slice
                            </p>
                        </div>
                    </div>
                    <p class="body16_OLzxw" style="color: rgb(33, 33, 33); cursor: pointer">
                        EGP&nbsp;10.00
                    </p>
                </div>
            </div>
            <div class="style__StyledMultiAddOnWrapper-sc-1cb4zkr-2 dCpqAH">
                <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
                    <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 cwwFix">
                        <button disabled="" data-testid="decrease-count" aria-label="decrease count" class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ">
                    <div
                      disabled=""
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 ddTfhi"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="default"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 iMhXei"
                      ></label>
                    </div>
                  </button>
                    </div>
                    <div class="styles__StyledCountNumber-sc-10khkyq-2 hmEfEg">
                        <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                            0
                        </p>
                    </div>
                    <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                        <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                    <div
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 beQFOg"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="pointer"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 bOKSJC"
                      ></label>
                    </div>
                  </button>
                    </div>
                </div>
                <div data-testid="multiAddon-component" class="style__StyledContentWrapper-sc-1cb4zkr-0 bTbdcW">
                    <div class="style__StyledCounterWrapper-sc-1cb4zkr-1 HHZFI">
                        <div style="margin-left: 12px; margin-right: 12px">
                            <p class="body16_OLzxw" data-testid="current-product-count" style="color: rgb(33, 33, 33); cursor: pointer">
                                Turkey Slice
                            </p>
                        </div>
                    </div>
                    <p class="body16_OLzxw" style="color: rgb(33, 33, 33); cursor: pointer">
                        EGP&nbsp;15.00
                    </p>
                </div>
            </div>
            <div class="style__StyledMultiAddOnWrapper-sc-1cb4zkr-2 dCpqAH">
                <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
                    <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 cwwFix">
                        <button disabled="" data-testid="decrease-count" aria-label="decrease count" class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ">
                    <div
                      disabled=""
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 ddTfhi"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="default"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 iMhXei"
                      ></label>
                    </div>
                  </button>
                    </div>
                    <div class="styles__StyledCountNumber-sc-10khkyq-2 hmEfEg">
                        <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                            0
                        </p>
                    </div>
                    <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                        <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                    <div
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 beQFOg"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="pointer"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 bOKSJC"
                      ></label>
                    </div>
                  </button>
                    </div>
                </div>
                <div data-testid="multiAddon-component" class="style__StyledContentWrapper-sc-1cb4zkr-0 bTbdcW">
                    <div class="style__StyledCounterWrapper-sc-1cb4zkr-1 HHZFI">
                        <div style="margin-left: 12px; margin-right: 12px">
                            <p class="body16_OLzxw" data-testid="current-product-count" style="color: rgb(33, 33, 33); cursor: pointer">
                                Jalapeno
                            </p>
                        </div>
                    </div>
                    <p class="body16_OLzxw" style="color: rgb(33, 33, 33); cursor: pointer">
                        EGP&nbsp;10.00
                    </p>
                </div>
            </div>
            <div class="style__StyledMultiAddOnWrapper-sc-1cb4zkr-2 dCpqAH">
                <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
                    <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 cwwFix">
                        <button disabled="" data-testid="decrease-count" aria-label="decrease count" class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ">
                    <div
                      disabled=""
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 ddTfhi"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="default"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 iMhXei"
                      ></label>
                    </div>
                  </button>
                    </div>
                    <div class="styles__StyledCountNumber-sc-10khkyq-2 hmEfEg">
                        <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                            0
                        </p>
                    </div>
                    <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                        <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                    <div
                      color="#767676"
                      width="24px"
                      height="24px"
                      class="style__StyledIconWrapper-sc-fi3wpm-0 beQFOg"
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                          fill="#1F1F1F"
                        ></path></svg
                      ><label
                        variant="smallText"
                        cursor="pointer"
                        mx="0"
                        class="style__StyledText-sc-nykyuh-0 bOKSJC"
                      ></label>
                    </div>
                  </button>
                    </div>
                </div>
                <div data-testid="multiAddon-component" class="style__StyledContentWrapper-sc-1cb4zkr-0 bTbdcW">
                    <div class="style__StyledCounterWrapper-sc-1cb4zkr-1 HHZFI">
                        <div style="margin-left: 12px; margin-right: 12px">
                            <p class="body16_OLzxw" data-testid="current-product-count" style="color: rgb(33, 33, 33); cursor: pointer">
                                Chicken Strips
                            </p>
                        </div>
                    </div>
                    <p class="body16_OLzxw" style="color: rgb(33, 33, 33); cursor: pointer">
                        EGP&nbsp;35.00
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="styles__SectionWrapper-sc-1t83ab5-3 jhflVd">
        <hr class="style__StyledSeparator-sc-9207sd-0 gwSBeP" />
        <div style="margin-top: 16px; margin-bottom: 8px">
            <p class="heading16_2tUu6" style="color: rgb(0, 0, 0); cursor: default">
                Special instructions
            </p>
        </div>
        <div class="style__StyledContainer-sc-q33pax-3 jPeeVj">
            <div class="style__StyledInputWrapper-sc-q33pax-0 cavrAa">
                <input type="text" placeholder="Add Instructions" value="" />
            </div>
        </div>
    </div>
    <div class="styles__StyledStickySection-sc-1t83ab5-4 styles__StyledStickyButton-sc-1t83ab5-15 iUbTWE THTRX">
        <div class="styles__StyledCount-sc-10khkyq-0 eOKsoK">
            <div disabled="" class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                <button disabled="" data-testid="decrease-count" aria-label="decrease count" class="style__StyledIconButton-sc-wcxn62-0 fjUbnQ">
                <div
                  disabled=""
                  color="white"
                  width="24px"
                  height="24px"
                  class="style__StyledIconWrapper-sc-fi3wpm-0 duMUOb"
                >
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM6 12.8571H18V11.1429H6V12.8571Z"
                      fill="#1F1F1F"
                    ></path></svg
                  ><label
                    variant="smallText"
                    cursor="default"
                    mx="0"
                    class="style__StyledText-sc-nykyuh-0 iMhXei"
                  ></label>
                </div>
              </button>
            </div>
            <div class="styles__StyledCountNumber-sc-10khkyq-2 cKCUJi">
                <p class="body14_-aK2M" data-testid="current-count" style="color: rgb(0, 0, 0); cursor: default">
                    1
                </p>
            </div>
            <div class="styles__StyledIcon-sc-10khkyq-1 knHuKD">
                <button data-testid="increase-count" aria-label="increase count" class="style__StyledIconButton-sc-wcxn62-0 drLdmU">
                <div
                  color="white"
                  width="24px"
                  height="24px"
                  class="style__StyledIconWrapper-sc-fi3wpm-0 gtcxPV"
                >
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M1.71429 12C1.71429 6.3191 6.3191 1.71429 12 1.71429C17.6809 1.71429 22.2857 6.3191 22.2857 12C22.2857 17.6809 17.6809 22.2857 12 22.2857C6.3191 22.2857 1.71429 17.6809 1.71429 12ZM12 0C5.37233 0 0 5.37233 0 12C0 18.6277 5.37233 24 12 24C18.6277 24 24 18.6277 24 12C24 5.37233 18.6277 0 12 0ZM11.1429 18V12.8571H6V11.1429H11.1429V6H12.8571V11.1429H18V12.8571H12.8571V18H11.1429Z"
                      fill="#1F1F1F"
                    ></path></svg
                  ><label
                    variant="smallText"
                    cursor="pointer"
                    mx="0"
                    class="style__StyledText-sc-nykyuh-0 bOKSJC"
                  ></label>
                </div>
              </button>
            </div>
        </div>
        <button class="button element-14 medium primary flex justify-center items-center w-full rounded-full" type="button" data-testid="product-action-btn">
            <div class="button-text">Add to Cart</div>
          </button>
    </div>

</div>
</div>
</div>
</div>