        .Rgyav {
            display: flex;
            height: 100%;
            flex-direction: column;
            overflow: visible;
        }
        
        @media (max-width: 992px) {
            .fSETXV {
                max-height: 150px;
            }
        }
        
        .fSETXV {
            background: rgba(0, 0, 0, 0.4);
            position: relative;
            width: 100%;
            height: 100%;
        }
        
        @media (max-width: 992px) {
            .dPLrtn {
                order: 2;
                width: 100%;
                max-width: 100%;
            }
        }
        
        .dPLrtn {
            display: block;
            flex: 1 1 0%;
            overflow: visible;
            position: relative;
            max-width: 450px;
        }