<div class="style__StyledLayoutWrapper-sc-12yivlc-2 Rgyav">
    <img data-testid="store_logo" alt="Kansas Fried Chicken store logo" sizes="100vw" srcset="
      https://static.zyda.com/cdn-cgi/image/width=640,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093   640w,
      https://static.zyda.com/cdn-cgi/image/width=750,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093   750w,
      https://static.zyda.com/cdn-cgi/image/width=828,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093   828w,
      https://static.zyda.com/cdn-cgi/image/width=1080,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093 1080w,
      https://static.zyda.com/cdn-cgi/image/width=1200,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093 1200w,
      https://static.zyda.com/cdn-cgi/image/width=1920,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093 1920w,
      https://static.zyda.com/cdn-cgi/image/width=2048,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093 2048w,
      https://static.zyda.com/cdn-cgi/image/width=3840,f=auto,metadata=none/photos/restaurants/logo_urls/3646/original/8FFCF025-CDCB-4A96-97BF-7A2196849CDE.jpeg?1634570093 3840w
    " src="../../../../assets/Kansas.avif" decoding="async" data-nimg="fill" />

    <h2>Kanvas</h2>
</div>
<app-navbar></app-navbar>
<app-conent></app-conent>